.movie-search-plugin__settings .search-input-container {
  width: 100%;
}

.movie-search-plugin__search-modal--input {
  padding-bottom: 18px;
}
.movie-search-plugin__search-modal--input input {
  width: 100%;
}
